In [4]:
# Import needed libraries
import pandas as pd
import zipfile
import os

# create dataframe with name df from file
df = pd.read_csv('data/winemag-data-130k-v2.csv.zip',compression='zip')
# Remove all columns but country and points
df = df.filter(['country', 'points'])

In [17]:
# Create a variable and pass all the unique values from the column country into it
UniqueCountryList = df.country.unique()

In [6]:
# Create dictionary to enter count and mean into
CountryDict = {}
# Iterate through each country in the variable CountryList, which is the list of unique countries from the dataframes 'country' column
for Name in UniqueCountryList:
    # Create a temporary dataframe that contains only the points values for the current iteration 
    dfTemp = df.loc[df.country.isin([Name])]
    # Count the total number of rows in the points column for the current iteration and assign it to variable 'Count'
    Count = dfTemp.points.count()
    # Get the sum of the column labeled 'points' from the iterated dataframe
    PointsTotal = dfTemp['points'].sum()
    # Get the mean of the points scored for all rows from the current iteration
    PointsMean = PointsTotal / Count
    # Assign the current country, count, and mean as a value assigned to the key named for the current iteration
    CountryDict[Name] = Name, Count, PointsMean

In [21]:
# Create new dataframe using the dictionary created in for loop
dfFinal = pd.DataFrame(CountDict)
# Transpose the columns to rows and using reset_index to prevent column headers from becoming an untouchable row element
dfFinal = dfFinal.T.reset_index()
# Removing row element created from old header names
dfFinal = dfFinal.drop('index', axis=1)
# Renaming column names
dfFinal.columns = ['country', 'count', 'points']
# Setting country column as the index for the rows
dfFinal.set_index('country', inplace=True)
# Sorting rows based off of count column value in descending order
dfFinal.sort_values('count', inplace=True, ascending=False)
# formatting float data types to one decimal point so points column shows as directed
pd.options.display.float_format = '{:,.1f}'.format

                   country  count points
0                    Italy  19540   88.6
1                 Portugal   5691   88.3
2                       US  54504   88.6
3                    Spain   6645   87.3
4                   France  22093   88.8
5                  Germany   2165   89.9
6                Argentina   3800   86.7
7                    Chile   4472   86.5
8                Australia   2329   88.6
9                  Austria   3345   90.1
10            South Africa   1401   88.1
11             New Zealand   1419   88.3
12                  Israel    505   88.5
13                 Hungary    146   89.2
14                  Greece    466   87.3
15                 Romania    120   86.4
16                  Mexico     70   85.3
17                  Canada    257   89.4
18                     NaN   63.0   88.6
19                  Turkey     90   88.1
20          Czech Republic     12   87.2
21                Slovenia     87   88.1
22              Luxembourg      6   88.7
23                 Croatia     73   87.2
24                 Georgia     86   87.7
25                 Uruguay    109   86.8
26                 England     74   91.6
27                 Lebanon     35   87.7
28                  Serbia     12   87.5
29                  Brazil     52   84.7
30                 Moldova     59   87.2
31                 Morocco     28   88.6
32                    Peru     16   83.6
33                   India      9   90.2
34                Bulgaria    141   87.9
35                  Cyprus     11   87.2
36                 Armenia      2   87.5
37             Switzerland      7   88.6
38  Bosnia and Herzegovina      2   86.5
39                 Ukraine     14   84.1
40                Slovakia      1   87.0
41               Macedonia     12   86.8
42                   China      1   89.0
43                   Egypt      1   84.0

In [8]:
dir_path = os.path.dirname(os.path.realpath('reviews.ipynb'))
dfFinal.to_csv(dir_path + '/data/reviews-per-country.csv')

In [56]:
# Code stolen from Jeff that completes the assignment, but the final column needs to be named 'points' not 'mean'
#df2 = df.groupby('country').points.agg(['count',('points','mean')]).sort_values('count',ascending=False).style.format({'points':'{:,.1f}'})
#df2.to_csv('test.csv')

AttributeError: 'Styler' object has no attribute 'to_csv'