In [45]:
# Import needed libraries
import pandas as pd
import zipfile

# create dataframe with name df from file
df = pd.read_csv('data/winemag-data-130k-v2.csv.zip',compression='zip')
# Remove Unnamed column and setting index to country column
df = df.filter(['country', 'points'])

In [46]:
# Create a variable and pass all the unique values from the column country into it
CountryList = df.country.unique()

In [94]:
# Create dictionary to enter count and mean into
CountDict = {}
# Iterate through each country in the variable CountryList, which is the list of unique countries from the dataframes 'country' column
for name in CountryList:
    # Create a temporary dataframe that contains only the points values for the current iteration 
    dfTemp = df.loc[df.country.isin([name])]
    # Count the total number of rows in the points column for the current iteration and assign it to variable 'count'
    Count = dfTemp.points.count()
    # Get the sum of the column labeled 'points' from the iterated dataframe
    Total = dfTemp['points'].sum()
    # Get the mean of the points scored for all rows from the current iteration
    Mean = Total / Count
    # Assign the current count and mean as a value assigned to the key named for the current iteration
    CountDict[name] = name, Count, Mean

In [97]:
# Create new dataframe using the dictionary created in for loop
dfFinal = pd.DataFrame(CountDict)
# Transpose the column to rows and using reset_index to prevent column headers from becoming an untouchable row element
dfFinal = dfFinal.T.reset_index()
# Removing row element created from old header names
dfFinal = dfFinal.drop('index', axis=1)
# Renaming column names
dfFinal.columns = ['country', 'count', 'points']
# Setting country column as the index for the rows
dfFinal.set_index('country', inplace=True)
# Sorting rows based off of count column value in descending order
dfFinal.sort_values('count', inplace=True, ascending=False)
# formatting float data types to one decimal point so points column shows as directed
pd.options.display.float_format = '{:,.1f}'.format
dfFinal

                        count points
country
US                      54504   88.6
France                  22093   88.8
Italy                   19540   88.6
Spain                    6645   87.3
Portugal                 5691   88.3
Chile                    4472   86.5
Argentina                3800   86.7
Austria                  3345   90.1
Australia                2329   88.6
Germany                  2165   89.9
New Zealand              1419   88.3
South Africa             1401   88.1
Israel                    505   88.5
Greece                    466   87.3
Canada                    257   89.4
Hungary                   146   89.2
Bulgaria                  141   87.9
Romania                   120   86.4
Uruguay                   109   86.8
Turkey                     90   88.1
Slovenia                   87   88.1
Georgia                    86   87.7
England                    74   91.6
Croatia                    73   87.2
Mexico                     70   85.3
NaN                      63.0   88.6
Moldova                    59   87.2
Brazil                     52   84.7
Lebanon                    35   87.7
Morocco                    28   88.6
Peru                       16   83.6
Ukraine                    14   84.1
Macedonia                  12   86.8
Czech Republic             12   87.2
Serbia                     12   87.5
Cyprus                     11   87.2
India                       9   90.2
Switzerland                 7   88.6
Luxembourg                  6   88.7
Bosnia and Herzegovina      2   86.5
Armenia                     2   87.5
Slovakia                    1   87.0
China                       1   89.0
Egypt                       1   84.0

In [24]:
# Code stolen from Jeff that completes the assignment, but the final column needs to be named 'points' not 'mean'
df2 = df.groupby('country').points.agg(['count','mean']).sort_values('count', ascending=False).style.format({'mean':'{:,.1f}'})
df2

In [9]:
# built a dataframe to turn in for the exercise. 
# Need to add a 'points' column to this that is an average of all point values for the country
var = df.value_counts('country')
df2 = pd.DataFrame(var)
df2

                        count
country
US                      54504
France                  22093
Italy                   19540
Spain                    6645
Portugal                 5691
Chile                    4472
Argentina                3800
Austria                  3345
Australia                2329
Germany                  2165
New Zealand              1419
South Africa             1401
Israel                    505
Greece                    466
Canada                    257
Hungary                   146
Bulgaria                  141
Romania                   120
Uruguay                   109
Turkey                     90
Slovenia                   87
Georgia                    86
England                    74
Croatia                    73
Mexico                     70
Moldova                    59
Brazil                     52
Lebanon                    35
Morocco                    28
Peru                       16
Ukraine                    14
Macedonia                  12
Serbia                     12
Czech Republic             12
Cyprus                     11
India                       9
Switzerland                 7
Luxembourg                  6
Armenia                     2
Bosnia and Herzegovina      2
China                       1
Slovakia                    1
Egypt                       1